<launch>
  <!-- Nodo per il plotting -->
  <node pkg="piezosensorROS" type="PlotPiezoData.py" name="plot_node" output="screen">
    <param name="n_sensors" value="8"/>
    <param name="buffer_size" value="1000"/>
  </node>

  <!-- Nodo per l’acquisizione -->
  <node pkg="piezosensorROS" type="ReadPiezo.py" name="acquire_node" output="screen">
    <param name="n_sensors" value="8"/>
    <param name="rate" value="3000"/>
    <param name="start_tare" value="False"/>
    <param name="tare_window" value="1000"/>
    <param name="tare_method" value="percentiles"/> <!-- "std" or "percentiles" -->
    <param name="tare_coefficient" value="5"/> <!-- Used only if tare_method is "percentiles" -->
    <param name="str1" value="num1,21,22,23,24\r\n"/>
    <!-- <param name="str2" value="num2,25,26,27,28\r\n"/> -->
    <!-- <param name="str3" value="num3,25,26,27,28\r\n"/> -->
    <!-- <param name="str4" value="num4,29,30,31,32\r\n"/> -->
  </node>

  <!-- Nodo per il rilevamento eventi -->
  <node pkg="piezosensorROS" type="DetectEvents.py" name="event_detector_node" output="screen">
    <param name="n_sensors" value="8"/>
    <param name="min_number_of_active_sensors" value="3"/>
  </node> 
</launch>
